header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 30px;
  align-self: center;
}
header .menu {
  display: flex;
  align-self: center;
}
header .menu li {
  list-style: none;
  margin: 0 10px;
}
header .menu li a {
  text-decoration: none;
}
header .menu li:nth-child(2) a {
  color: rgba(47, 47, 47, 0.98);
  transition: all 500ms ease-in-out;
}

header .menu li:nth-child(2) a:hover {
  background-color: #ddd;
  padding: 12px 10px;
  border-radius: 20px;
}

header .menu li:nth-child(1) a {
  background-color: rgba(47, 47, 47, 0.98);
  color: #fff;
  padding: 12px 10px;
  border-radius: 20px;
}

/* Search */
header .search {
  padding: 10px;
  display: flex;
  border-radius: 20px;
  align-self: center;
  background-color: #ddd;
  flex-grow: 1;
}

header .search i {
  color: #999;
  margin-right: 5px;
}
header .search input {
  align-self: flex-start;
  outline-width: 0;
  border: none;
  background-color: #ddd;
}

/* User info */
header .user-info {
  display: flex;
}
header .user-info .profil {
  align-self: flex-start;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
header .user-info li {
  align-self: center;
  list-style: none;
  margin: 0 10px;
}
header .user-info li i {
  font-size: 24px;
  color: #999;
}

header .user-info .notification {
  position: relative;
}
header .user-info .notification span {
  position: absolute;
  border-radius: 50%;
  padding: 2px 6px;
  background-color: maroon;
  color: #fff;
  top: -10px;
  left: 5px;
  font-size: 12px;
}
header .user-info li .dropdown-menu {
  position: relative;
}
header .user-info li .dropdown-menu .dropdown-menu-item {
  position: absolute;
  display: none;
  top: 30px;
  left: -80px;
  width: 120px;
  height: 250px;
  background-color: black;
  z-index: 999;
}

header .user-info li .dropdown-menu:hover .dropdown-menu-item {
  display: block;
  align-self: flex-start;
}
